# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt_ecommerce/target/
dbt_ecommerce/dbt_packages/
dbt_ecommerce/logs/
logs/

# Prefect
.prefect/

# Secrets
.env
*.json.key

# dbt local user file
dbt_ecommerce/.user.yml
